.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-content{
    width: 40%;
    min-width: 500px;
}
.has-success input{
border-color: blue
}
.has-danger input{
border-color: red
}